
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/styleguide';

@include menu;

.banner {
    @include banner;
}
.section{    
    padding-top: 90px;
    @include clearfix;
}
.portfolio {
    li{
        @include grid(2, 5px);
        @include mQ ($minW:$small-bp){
            @include grid(3, 8px);
        }
        @include mQ ($minW:$medium-bp){
            @include grid(4, 10px);
        }
        height: 10rem;
        cursor: pointer;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
    }
}
.single-photo{
    display: none;
    margin: 50px auto;
    width: fit-content;
    img{
        max-width: 100%;
    }
    .x{        
        position: absolute;
        cursor: pointer;
        &:after{
            content: "⮿";
            position: absolute;
            top: 15px;
            right: 15px;
            border-radius: 50%;
            color: #1c1a20;
            font-size: 2.5rem;
            z-index: 2;
            line-height: 3rem;
            transition: 1s;            
        } 
        &:hover:after{
            color: rgb(75, 75, 163);
        }   
    }
}
#blog{
    margin-bottom: 60px;
}
.card{
    height:100%;
    cursor: pointer;
}
.single-card{
    display: none;
    height: auto;
    cursor: auto;
    margin: 50px 20%;
    @include mQ ($medium-bp){
        margin: 50px 5%;
    }
    @include mQ ($small-bp){
        margin: 25px 0;
    }


}
.go_back{
    font-size:3rem;
    line-height: 0;
    cursor: pointer;
    display: block;
    margin-top: 2.4rem;
}


